/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

ul.zoo-category-list,
ul.zoo-category-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.zoo-category-list ul { padding: 0 0 0 15px; }

ul.zoo-category-list li > a { display: block; }