/**
 * NoNumber Framework general stylesheet
 *
 * @package         NoNumber Framework
 * @version         12.8.2
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2012 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

input[type="checkbox"],
input[type="radio"] {
	border: 0;
}

div.nn_panel {
	clear: both;
	margin-bottom: 8px !important;
}
div.nn_panel.nn_panel_15 {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0 !important;
}
div.nn_panel_top {
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
	font-size: 1.091em;
}
div.nn_panel_top.nn_panel_15 {
	font-size: 1em;
}
div.nn_panel_title,
div.nn_panel_description {
}
div.nn_panel_title {
	font-weight: bold;
}
div.nn_panel_top.nn_panel_title {
	background-color: #F0F0F0;
}
div.nn_hr {
	height: 2px;
	border-left: 0 !important;
	border-right: 0 !important;
}

div.nn_block {
	padding: 2px 5px;
}
div.nn_title ul {
	margin: 0 !important;
	margin-left: 2em !important;
}
div.nn_title ul li {
	list-style: disc outside !important;
}

span.nn_code {
	font-family: monospace;
	font-size: 12px;
	color: #666666;
}
input.nn_codefield {
	font-family: monospace;
	font-size: 2em;
	padding: 2px 5px;
	text-align: center;
}

div#view_state_div {
	margin: 10px 0;
}
.button_view_state {
	background-image: url(../images/button_left.png) !important;
}
.button_view_state,
.button_view_state div {
	float: left !important;
	height: 26px !important;
}
.button_view_state div {
	background: url(../images/button_blank.png) no-repeat 100% 0;
}
.button_view_state div a {
	background: url(../images/state_simple.png) no-repeat 100% -21px;
	padding-right: 22px !important;
	margin-right: 12px;
}
.button_view_state.normal a {
	background-image: url(../images/state_normal.png);
}
.button_view_state.advanced a {
	background-image: url(../images/state_advanced.png);
}
.view_state_0 .button_view_state.simple,
.view_state_1 .button_view_state.normal,
.view_state_2 .button_view_state.advanced {
	background-position: 0 100%;
}
.view_state_0 .button_view_state.simple div,
.view_state_1 .button_view_state.normal div,
.view_state_2 .button_view_state.advanced div {
	background-position: 100% 100%;
}
.button_view_state div a:hover,
.view_state_0 .button_view_state.simple a,
.view_state_1 .button_view_state.normal a,
.view_state_2 .button_view_state.advanced a {
	color: #0B55C4;
	background-position: 100% 1px;
}

.toolbar .icon-32-export {
	background-image: url(../images/icon-32-export.png);
}
.toolbar .icon-32-import {
	background-image: url(../images/icon-32-import.png);
}
/* AP template */
#ap-wrapper .icon-32-export {
	background-image: url(../images/icon-32-export2.png);
}
#ap-wrapper .icon-32-import {
	background-image: url(../images/icon-32-import2.png);
}

/* APLite template */
.ap-main .icon-32-export,
.ap-main .icon-32-import {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	background: transparent url(../../../../administrator/templates/aplite/images/menu/yellow/star_16x16.png) no-repeat 0 0;
}
.ap-main .icon-32-export {
	background-image: url(../../../../administrator/templates/aplite/images/menu/green/save_16x16.png);
}
.ap-main .icon-32-import {
	background-image: url(../../../../administrator/templates/aplite/images/menu/blue/save_16x16.png);
}