/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('BebasNeue-webfont.woff') format('woff'),
		 url('BebasNeue-webfont.ttf') format('truetype'),
		 url('BebasNeue-webfont.svg#webfontj1CI1MAi') format('svg');
	font-weight: normal;
	font-style: normal;
}