/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

/* General
----------------------------------------------------------------------------------------------------*/

#system .title a { color: #444; }

#system small { color: #999; }


/* Item
----------------------------------------------------------------------------------------------------*/

#system .item > header .meta { color: #999; }

#system .item > header .subtitle{ color: #777; }

#system .item > .links a:after {
	content: " »";
	font-size: 16px;
}


/* Items
----------------------------------------------------------------------------------------------------*/

#system .items .item {
	margin-top: 12px;
	padding-top: 18px;
	border-top: 1px solid #ddd;
}

#system .items .item:first-child {
	margin-top: 0;
	padding-top: 0;
	border: none;
}


/* Pagination
----------------------------------------------------------------------------------------------------*/

#system .pagination a,
#system .pagination strong { border: 1px solid #ddd; }


/* Search Box
----------------------------------------------------------------------------------------------------*/

#searchbox {
	width: 100px;
	height: 30px;
	padding: 0 25px;
	border: 1px solid #ddd;
	background: url(../images/searchbox_magnifier.png) 0 50% no-repeat;
}


#searchbox input {
	height: 30px;
	color: #333;
	font-size: 14px;
}

#searchbox input:-moz-placeholder { color: #999; }
#searchbox input::-webkit-input-placeholder { color: #999; }
#searchbox input.placeholder { color: #999; }

#searchbox.filled button {
	width: 25px;
	background: url(../images/searchbox_reset.png) 50% 50% no-repeat; 
}
#searchbox.loading button { background: url(../images/searchbox_loader.gif) 50% 50% no-repeat; }

/* Drop-Down Results */
#searchbox .results {
	top: 41px;
	right: -1px;
	width: 300px;
	border: 1px solid #ddd;
	background: #ffffff;
}

#searchbox .results li.results-header { border-bottom: 1px solid #ddd; }
#searchbox .results li.more-results { border-top: 1px solid #ddd; }
#searchbox .results li.result { border-top: 1px solid #eee; }
#searchbox .results li.results-header + li.result { border-top: none; }

#searchbox .results li.result.selected { background-color: #fafafa; }


/* Breadcrumbs
----------------------------------------------------------------------------------------------------*/

.breadcrumbs a,
.breadcrumbs > span {
	padding-right: 15px;
	background: url(../images/breadcrumbs.png) 100% 50% no-repeat;
}

/* Author Box
----------------------------------------------------------------------------------------------------*/

#system .author-box {
	padding: 15px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fafafa;
}

#system .author-box .avatar {
	padding: 3px;
	border: 1px solid #ddd;
	background: #fff;
}

#system .author-box .name { color: #444; }


/* Comments
----------------------------------------------------------------------------------------------------*/

/* Head */
#system #comments .comment-head {
	padding: 5px;
	border: 1px solid #e6e6e6;
	background: #fafafa;
}

#system #comments .comment-byadmin .comment-head {
	border: 1px solid #dce6be;
	background: #faffe6;
}

#system #comments .comment-head .author { text-shadow: 1px 1px 0 rgba(255, 255, 255, 1); }

/* Body */
#system #comments ul.level1 ul { background: url(../images/comments_arrow.png) 0 0 no-repeat; }

/* Respond */
#system #respond h3 { color: #444; }


/* Latest Comments
----------------------------------------------------------------------------------------------------*/

.comments-list > article { border-top: 1px solid #ddd; }
.comments-list > article:first-child { border: none; }

.comments-list .meta { color: #999; }

