/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/*
 * Default Style Sheet
 */


/* General
----------------------------------------------------------------------------------------------------*/

/* Position Headings */
.yoo-zoo .item .element > h3,
.yoo-zoo .item .pos-related > h3 { margin-top: 0px; }

/* Element Type: Textarea */
.yoo-zoo .item .element-textarea > * { margin: 8px 0 0 0; }
.yoo-zoo .item .element-textarea > *:first-child { margin-top: 0; }


/*** Category Styles ***/
.yoo-zoo .items .item{}




/* Positions
----------------------------------------------------------------------------------------------------*/

/* Position: Top */
.yoo-zoo .item .pos-top .element { margin-bottom: 15px; }

/* Position: Media */
.yoo-zoo .item .media-top .element { margin-bottom: 15px; }
.yoo-zoo .item .media-bottom .element { margin-top: 15px; }
.yoo-zoo .item .pos-media a,
.yoo-zoo .item .pos-media img { display: block; }

/* Position: Content */
.yoo-zoo .item .pos-content .element { margin-top: 15px; }
.yoo-zoo .item .pos-content .element:first-child { margin-top: 0; }

/* Position: Taxonomy + Bottom + Related */
.yoo-zoo .item .pos-taxonomy,
.yoo-zoo .item .pos-bottom .element,
.yoo-zoo .item .pos-related { margin-top: 15px; }

.yoo-zoo .item .pos-taxonomy strong { font-weight: normal; }

.yoo-zoo .items .item .links{ margin: 5px 0 }

.yoo-zoo .items .item .links .socialbookmarks{ float: right }

.yoo-zoo .items .item .pos-media.align-item_left{
    float: left;
    width: 150px;
}

.yoo-zoo .items .item .pos-media.align-item_right{
    float: right;
    width: 150px;
}

.yoo-zoo .items .item .item-content.align-item_left{
    margin-left: 150px;
    padding-left: 15px;
}

.yoo-zoo .items .item .item-content.align-item_right{
    margin-right: 150px;
    padding-left: 15px;
}