/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

ul.zoo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.zoo-list > li {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ddd;
}

ul.zoo-list > li:first-child {
	margin-top: 0;
	padding-top: 0;
	border: none;
}

ul.zoo-list > li > a:first-child { display: block; }

